<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="InmoVinesCRMPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>entities.Zonas</class>
    <class>entities.Provincias</class>
    <class>entities.Municipios</class>
    <class>entities.Comunidades</class>
    <class>entities.clientes.Clientes</class>
    <class>entities.clientes.Intereses</class>
    <class>entities.agentes.Cargos</class>
    <class>entities.agentes.Agentes</class>
    <class>entities.inmuebles.Inmuebles</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:mysql://localhost:3306/inmovinescrm?zeroDateTimeBehavior=convertToNull"/>
      <property name="javax.persistence.jdbc.user" value="inmovinescrm"/>
      <property name="javax.persistence.jdbc.driver" value="com.mysql.jdbc.Driver"/>
      <property name="javax.persistence.jdbc.password" value="melocoton"/>
    </properties>
  </persistence-unit>
</persistence>
